@import "tailwindcss";


@theme {
  --color-primary: #202224;
  --color-secondary: #343639;
  ;
}


::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #aaaaaa;
  border-radius: 2px;
}


:root {
  background-color: #202224;
  
}


.container {
  @apply max-w-3xl md:max-w-4xl  px-[15px] mx-auto;
}
	.mantine-TextInput-input{
    width: 100%;
  }