@import "tailwindcss";


@theme {
  --color-primary: #202224;
  --color-secondary: #343639;
  ;
}


:root {
  background-color: #202224;
  
}


.container {
  @apply max-w-3xl md:max-w-4xl  px-[15px] mx-auto;
}
	.mantine-TextInput-input{
    width: 100%;
  }